body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.scroll {
  
}
.scroll::-webkit-scrollbar {
  width: 0.313rem;
}

.scroll::-webkit-scrollbar-thumb {
  background-color:rgba(0, 188, 212, 0.20);
  border-radius: 5px;
}

.edit-meme-page-main-grid{
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.preview-card-grid{
  display: grid;
  grid-template-rows: 3fr 0.1fr;
}